<div class="col-xs-12">
  <div class="row">
    <div class="org-chart">
      <ng-container *ngIf="rootEmployee">
        <ng-container *ngTemplateOutlet="renderEmployee; context: { $implicit: rootEmployee }"></ng-container>
      </ng-container>

      <ng-template #renderEmployee let-emp>
        <div class="employee-node" (click)="onClickShowChildren(emp)">
          <!-- Employee Card -->
          <div class="card">
            <div class="card-details">
              <img [src]="emp.imageUrl" class="card-img img-fluid" alt="{{ emp.name }}" />
              <div class="card-data">
                <h5>{{ emp.name }}</h5>
                <p>Designation: <span class="card-data-value">{{ emp.designation }}</span></p>
                <p>Email: <span class="card-data-value">{{ emp.email }}</span></p>
                <p>Subordinates: <span class="card-data-value">{{ emp.subordinates?.length }}</span></p>
              </div>
            </div>
            <div class="card-actionables">
              <button class="btn btn-primary btn-sm" (click)="openAddDialog()">Add</button>
              <button class="btn btn-danger btn-sm" *ngIf="emp.subordinates?.length && emp.id !== 1"
                (click)="openDeleteDialog()">Delete</button>
            </div>
          </div>

          <!-- Recursive Children if expanded -->
          <div class="children-container" *ngIf="emp.isExpanded && emp.children?.length">
            <div class="line-down"></div>
            <div class="children">
              <ng-container *ngFor="let child of emp.children">
                <ng-container *ngTemplateOutlet="renderEmployee; context: { $implicit: child }"></ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>




<!-- Previous Code for root and child static upto level 1 -->
<!-- Root Employee Card -->
<!-- <div class="ng-container" *ngIf="rootEmployee">
      <div class="card" (click)="onClickShowChildren(rootEmployee.id-1)">
        <div class="card-details">
          <img [src]="rootEmployee.imageUrl" class="card-img img-fluid" alt="{{ rootEmployee.name }}" />
          <div class="card-data">
            <h5>{{ rootEmployee.name }}</h5>
            <p>Designation : <span class="card-data-value">{{ rootEmployee.designation }}</span></p>
            <p>Email : <span class="card-data-value">{{ rootEmployee.email }}</span></p>
            <p>Subordinates : <span class="card-data-value">{{ rootEmployee.subordinates?.length }}</span></p>
          </div>
        </div>
      </div>
    </div> -->

<!-- Children Employees -->
<!-- <ng-container *ngFor="let child of childs">
      <div class="card" (click)="onClickShowChildren(child.id)">
        <div class="card-details">
          <img [src]="child.imageUrl" class="card-img img-fluid" alt="{{ child.name }}" />
          <div class="card-data">
            <h5>{{ child.name }}</h5>
            <p>Designation : <span class="card-data-value">{{ child.designation }}</span></p>
            <p>Email : <span class="card-data-value">{{ child.email }}</span></p>
            <p>Subordinates : <span class="card-data-value">{{ child.subordinates?.length }}</span></p>
          </div>
        </div>

        <div class="card-actionables">
          <button class="btn btn-primary btn-sm">Add</button>
          <button class="btn btn-danger btn-sm" *ngIf="child.subordinates">Delete</button>
        </div>
      </div>
    </ng-container> -->