<div class="col-xs-12">
  <div class="row">

    <!-- Sub-employees -->
    <div class="ng-container" *ngIf="rootEmployee">
      <div class=" card" *ngFor="let emp of Employees, let i = index " (click)="onClickShowChildren(i)">
        <div class="card-details">
          <img class="card-img img-fluid" src={{emp.imageUrl}} alt={{emp.name}}>
          <div class="card-data">
            <h5>{{emp.name}}</h5>
            <p>Designation : {{emp.designation}}</p>
            <p>Email : {{emp.email}}</p>
            <p>Subordinates : {{emp.subordinates?.length}}</p>
          </div>
        </div>

        <div class="card-actionables">
          <button class="btn btn-outline-primary">Add</button>
          <button class="btn btn-outline-danger" *ngIf="emp.subordinates !==null  ">Delete</button>
        </div>

      </div>
    </div>
  </div>
</div>
