<div class="col-xs-12">
  <div class="">
    <button class="btn btn-primary  add-btn" *ngIf="Employees.length === 0" (click)="addEmployee()">Add</button>
  </div>
  <div class="row">
    <!-- <app-spinner *ngIf="loading" style="text-align: center; margin: 15% 0;"></app-spinner> -->
    <div class="org-chart">
      <ng-container *ngIf="rootEmployee">
        <ng-container *ngTemplateOutlet="renderEmployee; context: { $implicit: rootEmployee }"></ng-container>
      </ng-container>

      <ng-template #renderEmployee let-emp>
        <div class="employee-node" (click)="onClickShowChildren(emp); $event.stopPropagation()">
          <!-- Employee Card -->
          <div class="card">
            <div class="card-details">
              <img [src]="emp.imageUrl" class="card-img img-fluid" alt="{{ emp.name }}" />
              <div class="card-data">
                <h5>{{ emp.name }}</h5>
                <p>Designation: <span class="card-data-value">{{ emp.designation }}</span></p>
                <p>Email: <span class="card-data-value">{{ emp.email }}</span></p>
                <p>Subordinates: <span class="card-data-value">{{
                    emp.subordinates?.length }}</span></p>
              </div>
            </div>
            <div class="card-actionables">
              <button class="btn btn-primary btn-sm" (click)="openAddDialog(emp.id)">Add</button>
              <button class="btn btn-danger btn-sm" *ngIf="(emp.subordinates?.length || 0) ===0"
                (click)="openDeleteDialog(emp.name, emp.id)">Delete</button>
              <button class="btn btn-secondary btn-sm" *ngIf=" emp.id === 1 && emp.subordinates?.length >0"
                (click)="changeManager(emp.name,emp.id)">
                Change Manager</button>
            </div>
          </div>

          <!-- Recursive Children if expanded -->
          <div class="children-container" *ngIf="emp.isExpanded && emp.children?.length">
            <!-- <div class="line-down"></div> -->
            <div class="children">
              <ng-container *ngFor="let child of emp.children">
                <div class="line-down"></div>
                <ng-container *ngTemplateOutlet="renderEmployee; context: { $implicit: child }"></ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>